# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules
jspm_packages

# Arbitrary Directories
./dist
test/environment
coverage
tmp

# Coverage Files
lcov.info

# Access Keys
.saucelabs
